---
layout: blog
title: Blog
group: navigation
tags : [blog, posts, post]
author : Curitiba Livre
css: 
js:
keywords: SFD2021, Curitiba Livre, Debian Curitiba
canonical: https://curitibalivre.gitlab.io/sfdcwb21/blog
---
{% include JB/setup %}


{% for post in site.posts %}
	  <div class="blog-block post-content-area">
	   {% if post.img %}	  
            <img src="{{ BASE_PATH }}/assets/images/{{ post.img }}" alt="{{ post.title }} image">
	   {% endif %}	  
            <div class="blog-post">
              <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
	      <p>{{ post.excerpt }}</p>
              <a class="btn btn-common" href="{{ BASE_PATH }}{{ post.url }}">Read More</a>
            </div>
          </div>
	  <div class="mb-60"></div>
{% endfor %}

