---
layout: index
title: Componets
group: navigation
tagline: A sample page for landing pages and apps, try yourself!
tags : [components]
img : 
img-mobile : 
author : Antonio Trento
css: 
js:
keywords: components, demo
canonical: https://heliumjk.github.io
---
{% include JB/setup %}

<div class="tbtn wow pulse" id="menu" data-wow-iteration="infinite" data-wow-duration="500ms" data-toggle="offcanvas" data-target=".navmenu">
      <p><i class="fa fa-file-text-o"></i>All Components</p>
    </div>
  </div>

  <!-- Content Start -->
  <div id="grid-continer" style="
    margin: 45px 0;">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/headers.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/headers.jpg" alt="">
              <h3 class="demo-title">Header</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/sliders.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/sliders.jpg" alt="">
              <h3 class="demo-title">Sliders</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/navigations.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/navigations.jpg" alt="">
              <h3 class="demo-title">Navigations</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/typography.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/typography.jpg" alt="">
              <h3 class="demo-title">Typography</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/buttons.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/buttons.jpg" alt="">
              <h3 class="demo-title">Buttons</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/labels-alerts.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/alerts.jpg" alt="">
              <h3 class="demo-title">Labels/Alerts</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/progress-bars.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/progress-bars.jpg" alt="">
              <h3 class="demo-title">Progress Bars</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/tabs-accordions.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/tabs.jpg" alt="">
              <h3 class="demo-title">Tabs/Accordionss</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/tables.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/tables.jpg" alt="">
              <h3 class="demo-title">Tables</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/cards.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/cards.jpg" alt="">
              <h3 class="demo-title">Cards</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/team.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/team.jpg" alt="">
              <h3 class="demo-title">Team</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/list.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/list.jpg" alt="">
              <h3 class="demo-title">List</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/pricing.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/pricing.jpg" alt="">
              <h3 class="demo-title">Pricing</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/about-sample.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/about.jpg" alt="">
              <h3 class="demo-title">About Us</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/services.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/services.jpg" alt="">
              <h3 class="demo-title">Services</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/features.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/features.jpg" alt="">
              <h3 class="demo-title">Features</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/portfolio.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/portfolio.jpg" alt="">
              <h3 class="demo-title">Portfolio</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/footers.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/footers.jpg" alt="">
              <h3 class="demo-title">Footers</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/maps.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/maps.jpg" alt="">
              <h3 class="demo-title">Maps</h3>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="demo_img">
            <a href="{{ BASE_PATH }}/contact.html" target="_blank"><img src="{{ BASE_PATH }}/assets/images/screenshot/contact.jpg" alt="">
              <h3 class="demo-title">Contact</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!-- Content End -->
