---
layout: index
title: SFD 2021 Curitiba
tagline: Software Freedom Day Curitiba 2021
css: 
js: sliders.js
keywords: sfd2021, Debian, Liberdade, Curitiba
canonical: http://sfdcwb.flisol.org.br
---
{% include JB/setup %}
<!-- Content Area Start -->
<div id="content">
      <!-- sliders -->
      <div id="sliders">
        <div class="full-width">
          <!-- light slider -->
          <div id="light-slider" class="carousel slide">
            <div id="carousel-area">
              <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-slider" data-slide-to="1"></li>
                  <li data-target="#carousel-slider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img src="{{ BASE_PATH }}/assets/images/slider/bg-1.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span
                      class="text-primary">Software Freedom Day </span>
                      Curitiba 2021</h3>
                      <h5 class="slide-text animated fadeIn"> Bootstrap 4 based theme ported for Jekyll and GitHub Pages.</h5>
                      <a href="#features" class="btn btn-lg btn-default-filled
                      animated fadeInUp">Saiba Mais</a>
<!--                      <a
href="https://github.com/heliumjk/heliumjk.github.io/" class="btn btn-lg
btn-common animated fadeInUp">Learn More</a>-->
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{ BASE_PATH }}/assets/images/slider/bg-2.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span
                      class="text-primary"> Chamada de</span> Atividades</h3>
                      <h5 class="slide-text animated fadeIn"> Envie sua
                      atividade para que que o envento.</h5>
                      <a href="https://github.com/heliumjk/heliumjk.github.io/" class="btn btn-lg btn-default-filled animated fadeInUp">Download Now</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{ BASE_PATH }}/assets/images/slider/bg-3.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span
                      class="text-primary">AA </span> BBB</h3>
                      <h5 class="slide-text animated fadeIn">Algum outro texto
                      aqui.</h5>
                      <a href="#features" class="btn btn-lg btn-default-filled animated fadeInUp">Get Started</a>
                      <a href="https://github.com/heliumjk/heliumjk.github.io/" class="btn btn-lg btn-common animated fadeInUp">Download</a>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
                  <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
                  <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End sliders -->
                        
            
      <div class="mb-60"></div>
	<div id="features" class="container">
	<!-- SERVICES -->
            <div class="sub-title">
              <span>Saiba Mais sobre o SFD!</span>
            </div>
            <div class="row">
              <!-- Start Service Icon 1 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-cogs"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">O que é o SFD?</a></h4>
                    <p>
                      O Software Freedom Day é um dia para comemorar a
                      liberdade do Sofware...
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 1 -->

              <!-- Start Service Icon 2 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-cubes"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Como será o evento?</a></h4>
                    <p>
                      Devido a pandemia, ainda faremos a edição de 2021 de
                      forma totalmente virtual.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 2 -->

              <!-- Start Service Icon 3 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-tachometer"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Quem pode participar?</a></h4>
                    <p>
                      Todos estão convidados à participar, desde quem nunca
                      teve contato com o Software Livre, até o mais
                      experiênte! A troca do conhecimento é muito importante.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 3 -->

              <!-- Start Service Icon 4 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-check"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Precisarei pagar?</a></h4>
                    <p>
                      O evento será totalmente gratuito.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 4 -->

              <!-- Start Service Icon 5 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-flash"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Bootstrap 4 UI Kit</a></h4>
                    <p>
                      This theme uses the latest bootstrap framework 4 to have a modern, well-structured, versatile layout.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 5 -->
              
              <!-- Start Service Icon 6 -->
              <div class="col-md-4 col-sm-6">
                <div class="service-box">
                  <div class="service-icon">
                    <i class="fa fa-hand-pointer-o"></i>
                  </div>
                  <div class="service-content">
                    <h4><a href="#">Advanced Features</a></h4>
                    <p>
                      Systems like disqus, google AdSense, google analytics, Google maps are integrated.
                    </p>
                  </div>
                </div>
              </div>
              <!-- End Service Icon 6 -->
            </div>
	    </div>
            <div class="mb-60"></div>
	
	<!-- HEADER -->
      <div class="header-style-3">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <figure>
                <img src="{{ BASE_PATH }}/assets/images/bg/hero-2.png" alt="">
              </figure>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="hero-content-v2">
                <h3>100+ UI Components <strong>Ready for any web projects</strong></h3>
                <a href="{{ BASE_PATH }}/components" class="btn btn-lg btn-default-filled animated fadeInUp">Explore All</a>
              </div>
            </div>
          </div>
        </div>
      </div>	
	<!-- END HEADER -->
            <div class="mb-60"></div>
	
      <div class="container">
        <h4 class="sub-title space-left">Mobile scroll blog carousel</h4>
      </div>

      <!-- posts carousel -->
      <section id="blog">
        <div class="container">                              
          <div id="posts-carousel" class="owl-carousel">
           {% for post in site.posts %}     
            <div class="blog-block blog block carousel-post">
             {% if post.img %}           
              <img src="{{ BASE_PATH }}/assets/images/{{ post.img }}" alt="">
             {% endif %}           
              <h5>{{ post.title }}</h5>
              <p>{{ post.excerpt }}</p>
              <a href="{{ BASE_PATH }}{{ post.url }}">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
           {% endfor %}     
          </div>              
        </div>
      </section>
      
      <div class="mb-60"></div>
      <div class="container">
        <h4 class="sub-title space-left">Google AD Sense sample</h4>
      </div>	
	 <div class="container">
	      {% include ads-block.html %}
	 </div>		 
      <div class="mb-60"></div>	
      <div id="counter">
        <div class="container">
          <h4 class="sub-title">Counters</h4>
          <div class="row count-to-sec">
            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-download"> </i></span>
              <h3 class="timer count-value" data-to="561" data-speed="1000">561</h3>
              <hr class="width25-divider">
              <small class="count-title">Downloads</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-user"> </i></span>
              <h3 class="timer count-value" data-to="950" data-speed="1000">950</h3>
              <hr class="width25-divider">
              <small class="count-title">Developers</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-desktop"> </i></span>
              <h3 class="timer count-value" data-to="978" data-speed="1000">978</h3>
              <hr class="width25-divider">
              <small class="count-title">Lines of code written</small>
            </div>

            <div class="col-md-3 col-sm-6 count-one">
              <span class="icon"><i class="fa fa-coffee"> </i></span>
              <h3 class="timer count-value" data-to="1700" data-speed="1000">1700</h3>
              <hr class="width25-divider">
              <small class="count-title">Cups of coffee consumed</small>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-60"></div>
	
      <!-- Team Members 04 -->	
      <div class="container">	                  
            <div class="team-members-tow mtb-50">
              <div class="sub-title">
                <span>Team Members</span>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <!-- Team Item Starts -->
                  <figure>
                    <img src="{{ BASE_PATH }}/assets/images/team/team-05.jpg" alt="">
                    <div class="image-overlay">
                      <div class="overlay-text text-center">
                        <div class="info-text">
                          <strong>Melody Clark</strong>
                          <span>UX Specialist</span>
                        </div>
                        <hr class="small-divider border-white">
                        <ul class="social-icons">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </figure>
                  <!-- Team Item Ends -->
                </div>
                <div class="col-sm-6 col-md-3">
                  <!-- Team Item Starts -->
                  <figure>
                    <img src="{{ BASE_PATH }}/assets/images/team/team-06.jpg" alt="">
                    <div class="image-overlay">
                      <div class="overlay-text text-center">
                        <div class="info-text">
                          <strong>Danny Burton</strong>
                          <span>Senior Designer</span>
                        </div>
                        <hr class="small-divider border-white">
                        <ul class="social-icons">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </figure>
                  <!-- Team Item Ends -->
                </div>

                <div class="col-sm-6 col-md-3">
                  <!-- Team Item Starts -->
                  <figure>
                    <img src="{{ BASE_PATH }}/assets/images/team/team-07.jpg" alt="">
                    <div class="image-overlay">
                      <div class="overlay-text text-center">
                        <div class="info-text">
                          <strong>Elizabeth Jones</strong>
                          <span>Art Director</span>
                        </div>
                        <hr class="small-divider border-white">
                        <ul class="social-icons">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </figure>
                  <!-- Team Item Ends -->
                </div>

                <div class="col-sm-6 col-md-3">
                  <!-- Team Item Starts -->
                  <figure>
                    <img src="{{ BASE_PATH }}/assets/images/team/team-08.jpg" alt="">
                    <div class="image-overlay">
                      <div class="overlay-text text-center">
                        <div class="info-text">
                          <strong>Danny Burton</strong>
                          <span>Senior Designer</span>
                        </div>
                        <hr class="small-divider border-white">
                        <ul class="social-icons">
                          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </figure>
                  <!-- Team Item Ends -->
                </div>

              </div>
            </div>            	      	      	      
      </div>      
      <!-- End Team Members 04 -->      	
	
	
      <div class="mb-60"></div>
     
            
            
      <!-- CONTACT FORM -->     
	<div class="container">
	<div class="row">	      
          <div class="col-md-8">
            <h3 class="title-head text-center">Get in touch</h3>
            <form class="contact-form" data-toggle="validator">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-user"></i>
                    <input type="text" class="form-control" id="name" placeholder="Full Name" required data-error="Please enter your name">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-envelope-o"></i>
                    <input type="email" class="form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <i class="contact-icon fa fa-pencil-square-o"></i>
                    <input type="text" class="form-control" id="subject" placeholder="Subject" required data-error="Please enter your Subject">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <textarea id="message" rows="8" placeholder="Message" required data-error="Please enter your message"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <button type="submit" id="form-submit" class="btn btn-common btn-form-submit">Send Message</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-4">
            <h4 class="contact-info-title">Contact Information</h4>
            <div class="contact-info">
              <address>
                <i class="fa fa-map-marker icons cyan-color contact-info-icon"></i>
                Level 13, 2 Elizabeth St, Melbourne,
                <br>
                Victoria 3000, Australia
                </address>
              <div class="tel-info">
                <a href="tel:1800452308"><i class="fa fa-mobile icons cyan-color contact-info-icon"></i>1800 452 308</a>
                <a href="tel:+61(8)82343555"><i class="fa fa-phone icons cyan-color contact-info-icon"></i>+61 (8) 8234 3555</a>
              </div>
              <a href="https://antoniotrento.github.io"><i class="fa fa-tablet icons cyan-color contact-info-icon"></i>https://antoniotrento.github.io</a>
              {% include social-block.html %}
            </div>
          </div>

        </div>
	</div>

            
            
<!-- Content area end -->
</div>
