---
layout: index
title: Sliders
tagline: A sample page for landing pages and apps, try yourself!
tags : [Sliders, components]
img : 
img-mobile : 
author : Antonio Trento
css: 
js: sliders.js
keywords: components, demo
canonical: https://heliumjk.github.io
---
{% include JB/setup %}

<!-- Content Area Start -->
    <div id="content">
      <!-- sliders -->
      <div id="sliders">
        <div class="full-width">
          <div class="page-header-title">
            <h2 class="heading-title text-center">Sliders</h2>
          </div>

          <div class="container">
            <h4 class="sub-title space-left">Header Slider</h4>
          </div>
          <!-- light slider -->
          <div id="light-slider" class="carousel slide">
            <div id="carousel-area">
              <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-slider" data-slide-to="1"></li>
                  <li data-target="#carousel-slider" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img src="{{ BASE_PATH }}/assets/images/slider/bg-1.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span
                      class="text-primary">Software Freefom Day </span>
                      Curitiba 2021</h3>
                      <h5 class="slide-text animated fadeIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br> Curabitur ultricies nisi Nam eget dui. Etiam rhoncus</h5>
                      <a href="#" class="btn btn-lg btn-default-filled animated fadeInUp">Get Started</a>
                      <a href="#" class="btn btn-lg btn-common animated fadeInUp">Learn More</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{ BASE_PATH }}/assets/images/slider/bg-2.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">Cutting-edge</span> Features</h3>
                      <h5 class="slide-text animated fadeIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br> Curabitur ultricies nisi Nam eget dui. Etiam rhoncus</h5>
                      <a href="#" class="btn btn-lg btn-default-filled animated fadeInUp">Download Now</a>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{{ BASE_PATH }}/assets/images/slider/bg-3.jpg" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span class="text-primary">100+ </span> UI Blocks & Components</h3>
                      <h5 class="slide-text animated fadeIn">Lorem ipsum dolor sit amet, consectetuer adipiscing elit<br> Curabitur ultricies nisi Nam eget dui. Etiam rhoncus</h5>
                      <a href="#" class="btn btn-lg btn-default-filled animated fadeInUp">Get Started</a>
                      <a href="#" class="btn btn-lg btn-common animated fadeInUp">Download</a>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-slider" role="button" data-slide="prev">
                  <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-slider" role="button" data-slide="next">
                  <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End sliders -->
            
            
            
            
      <div class="mb-60"></div>

      <!-- img/slider slider -->
      <div id="img/slider-slider">
        <div class="container">
          <h4 class="sub-title">Image Only Slider</h4>
          <div id="image-slider" class="owl-carousel owl-theme">
            <div class="item">
              <img src="{{ BASE_PATH }}/assets/images/slider/large-slider1.jpg" alt="">
            </div>
            <div class="item">
              <img src="{{ BASE_PATH }}/assets/images/slider/large-slider2.jpg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="mb-60"></div>

      <!-- testimonials slider -->
      <div class="container">
        <h4 class="sub-title">Testimonial Carousel</h4>
      </div>

      <!-- testimonials slider -->
      <div class="single-testimonial-area">
        <div class="container">
          <div id="single-testimonial-item" class="owl-carousel">
            <!-- Single testimonial Item -->
            <div class="item">
              <div class="row justify-content-md-center">
                <div class="col-md-8 col-xs-12 col-md-auto">
                  <div class="testimonial-inner text-md-center">
                    <blockquote>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, non ut molestiae rerum praesentium repellat debitis iure reiciendis, eius culpa beatae commodi facere ad numquam. Quisquam dignissimos similique sunt iure fugit, omnis vel cupiditate repellendus magni nihil molestiae quam, delectus
                    </blockquote>
                    <div class="testimonial-images">
                      <img class="img-circle text-md-center" src="{{ BASE_PATH }}/assets/images/testimonial/img1.jpg" alt="">
                    </div>
                    <div class="testimonial-footer">
                      <i class="fa fa-user"></i> Arman
                      <a href="#"> UIdeck</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Single testimonial Item -->
            <div class="item">
              <div class="row justify-content-md-center">
                <div class="col-md-8 col-xs-12 col-md-auto">
                  <div class="testimonial-inner text-md-center">
                    <blockquote>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, non ut molestiae rerum praesentium repellat debitis iure reiciendis, eius culpa beatae commodi facere ad numquam. Quisquam dignissimos similique sunt iure fugit, omnis vel cupiditate repellendus magni nihil molestiae quam, delectus
                    </blockquote>
                    <div class="testimonial-images">
                      <img class="img-circle text-md-center" src="{{ BASE_PATH }}/assets/images/testimonial/img2.jpg" alt="">
                    </div>
                    <div class="testimonial-footer">
                      <i class="fa fa-user"></i> Jeniffer
                      <a href="#"> GrayGrids</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Single testimonial Item -->
            <div class="item">
              <div class="row justify-content-md-center">
                <div class="col-md-8 col-xs-12 col-md-auto">
                  <div class="testimonial-inner text-md-center">
                    <blockquote>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ipsam, non ut molestiae rerum praesentium repellat debitis iure reiciendis, eius culpa beatae commodi facere ad numquam. Quisquam dignissimos similique sunt iure fugit, omnis vel cupiditate repellendus magni nihil molestiae quam, delectus
                    </blockquote>
                    <div class="testimonial-images">
                      <img class="img-circle text-md-center" src="{{ BASE_PATH }}/assets/images/testimonial/img3.jpg" alt="">
                    </div>
                    <div class="testimonial-footer">
                      <i class="fa fa-user"></i> Elon Musk<a href="#"> Tesla</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->

      <div class="mb-60"></div>

      <!-- cards carousel -->
      <div id="cards-carousel">
        <div class="container">
          <h4 class="sub-title">Grid Carousel</h4>
          <div id="card-carousel" class="owl-carousel">
            <div class="card">
              <div class="card-block">
                <img class="card-img-inside" src="{{ BASE_PATH }}/assets/images/slider/img-01.jpg" alt="">
                <h3 class="card-title">Item Title</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <img class="card-img-inside" src="{{ BASE_PATH }}/assets/images/slider/img-02.jpg" alt="">
                <h3 class="card-title">Item Title</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <img class="card-img-inside" src="{{ BASE_PATH }}/assets/images/slider/img-03.jpg" alt="">
                <h3 class="card-title">Item Title</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <img class="card-img-inside" src="{{ BASE_PATH }}/assets/images/slider/img-04.jpg" alt="">
                <h3 class="card-title">Item Title</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <img class="card-img-inside" src="{{ BASE_PATH }}/assets/images/slider/img-05.jpg" alt="">
                <h3 class="card-title">Item Title</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <img class="card-img-inside" src="{{ BASE_PATH }}/assets/images/slider/img-06.jpg" alt="">
                <h3 class="card-title">Item Title</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <img class="card-img-inside" src="{{ BASE_PATH }}/assets/images/slider/img-07.jpg" alt="">
                <h3 class="card-title">Item Title</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <img class="card-img-inside" src="{{ BASE_PATH }}/assets/images/slider/img-08.jpg" alt="">
                <h3 class="card-title">Item Title</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <img class="card-img-inside" src="{{ BASE_PATH }}/assets/images/slider/img-01.jpg" alt="">
                <h3 class="card-title">Item Title</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-block">
                <img class="card-img-inside" src="{{ BASE_PATH }}/assets/images/slider/img-02.jpg" alt="">
                <h3 class="card-title">Item Title</h3>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-60"></div>

      <div id="img/slider-carousel">
        <div class="container">
          <h4 class="sub-title">Image Carousel</h4>
          <div id="image-carousel" class="owl-carousel">
            <div class="item"><img src="{{ BASE_PATH }}/assets/images/slider/img-1.jpg" alt=""></div>
            <div class="item"><img src="{{ BASE_PATH }}/assets/images/slider/img-2.jpg" alt=""></div>
            <div class="item"><img src="{{ BASE_PATH }}/assets/images/slider/img-3.jpg" alt=""></div>
            <div class="item"><img src="{{ BASE_PATH }}/assets/images/slider/img-4.jpg" alt=""></div>
            <div class="item"><img src="{{ BASE_PATH }}/assets/images/slider/img-1.jpg" alt=""></div>
            <div class="item"><img src="{{ BASE_PATH }}/assets/images/slider/img-2.jpg" alt=""></div>
            <div class="item"><img src="{{ BASE_PATH }}/assets/images/slider/img-3.jpg" alt=""></div>
            <div class="item"><img src="{{ BASE_PATH }}/assets/images/slider/img-4.jpg" alt=""></div>
          </div>
        </div>
      </div>

      <div class="mb-60"></div>

      <div class="container">
        <h4 class="sub-title space-left">Blog Carousels</h4>
      </div>

      <!-- posts carousel -->
      <section id="blog">
        <div class="container">
          <div id="posts-carousel" class="owl-carousel">
            <div class="blog block carousel-post">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img1.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="blog block carousel-post text-center">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img2.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="blog block carousel-post text-center">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img3.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="blog block carousel-post text-right">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img4.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="blog block carousel-post">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img6.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="blog block carousel-post text-center">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img2.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="blog block carousel-post text-center">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img4.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="blog block carousel-post text-right">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img1.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </section>

      <div class="mb-60"></div>

      <!-- posts carousel -->
      <section class="blog">
        <div class="container">
          <div id="posts-carousel-3col" class="owl-carousel">
            <div class="blog block carousel-post text-center">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img6.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="blog block carousel-post text-center">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img5.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="blog block carousel-post text-center">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img4.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="blog block carousel-post text-center">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img3.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="blog block carousel-post text-center">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img2.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

            <div class="blog block carousel-post text-center">
              <img src="{{ BASE_PATH }}/assets/images/slider/blog/img1.jpg" alt="">
              <h5>Blog Title</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet atque fugit vitae voluptatem...</p>
              <a href="#">Full Article <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </section>
      <!-- End posts carousel -->

    </div>
    <!-- Content Area End -->
    <div class="text-center">Love this UI Kit? Get more Free and Premium <a href="https://uideck.com/products/category/ui-kits/">Bootstrap UI Kits</a> </div>
