      <!-- Footer -->
      <footer class="default-footer text-center">
        <div class="container">
          <img class="mb-40 footer-logo" src="{{ BASE_PATH }}/assets/images/logo-2.png" alt="">
          <span class="copy-right dis-blk">Site criado com Helium Jekyll</span>
          <span class="social">
                  {% if site.author.facebook %}<a href="https://www.facebook.com/{{ site.author.facebook }}/"><i class="fa fa-2x fa-facebook"></i></a>{% endif %}
                  {% if site.author.twitter %}<a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-2x fa-twitter"></i></a>{% endif %}
                  {% if site.author.linkedin %}<a href="https://www.linkedin.com/in/{{ site.author.linkedin }}/"><i class="fa fa-2x fa-linkedin"></i></a>{% endif %}
                  {% if site.author.instagram %}<a href="https://www.instagram.com/{{ site.author.instagram }}/"><i class="fa fa-2x fa-instagram"></i></a>{% endif %}                            
              	
          </span>
        </div>
      </footer>
