            <div class="top-menu">
              <p>
                <span class="left">
                  <a href="https://twitter.com/curitibalivre"><i class="fa fa-twitter"></i>@curitibalivre</a>
                  <!-- <a href="#"><i class="fa fa-mobile-phone"></i>+9 34476
                  3244</a> -->
                  <a href="mailto:contato@curitibalivre.org.br"><i class="fa fa-envelope"></i>contato@curitibalivre.org.br</a>
              </span>
                <span class="right hidden-sm-down">                          
                  {% if site.author.facebook %}<a href="https://www.facebook.com/{{ site.author.facebook }}/"><i class="fa fa-facebook"></i></a>{% endif %}
                  {% if site.author.twitter %}<a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
                  {% if site.author.linkedin %}<a href="https://www.linkedin.com/in/{{ site.author.linkedin }}/"><i class="fa fa-linkedin"></i></a>{% endif %}
                  {% if site.author.instagram %}<a href="https://www.instagram.com/{{ site.author.instagram }}/"><i class="fa fa-instagram"></i></a>{% endif %}                            
              	</span>
              </p>
            </div>

            <!-- navbar-default -->
            <nav class="navbar navbar-toggleable-sm navbar-light bg-default">
              <div class="container">
                <a class="navbar-brand" href="{{ BASE_PATH }}"><img src="{{ BASE_PATH }}/assets/images/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbar1">
                  <ul class="navbar-nav">
                    {% assign pages_list = site.pages %}
                    {% assign group = 'navigation' %}
                    {% include JB/pages_list %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
